<div class="content-header">
  <h3>
    <%= link_to '発送管理', admins_shipments_singles_path %>
    <div class="u-float_right">
      <% if @shipments.all_state?(@shipments, 'shipped') %>
        <div class="btn btn-warning">発送済み</div>
      <% elsif @shipments.all_state?(@shipments, 'canceled') %>
        <div class="btn btn-danger">キャンセルされました</div>
      <% elsif @shipments.all_state?(@shipments, 'returned') %>
        <div class="btn btn-default">返品されました</div>
      <% elsif @shipments.all_state?(@shipments, 'failed') %>
        <div class="btn btn-default">取引が失敗しています</div>
      <% elsif @shipments.all_state?(@shipments, 'ready') %>
        <%= form_tag csv_export_admins_shipments_singles_path(format: :csv), method: "get", class: "u-float_left" do %>
          <% @shipments.each do |shipment| %>
            <%= hidden_field_tag "shipment[ids][]", shipment.id %>
          <% end %>
          <%= submit_tag "CSV出力", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </h3>
</div>
<section class="content">

  <div class="content col-md-9">
    <h4 class="box-title">購入商品<span style="color:red"><%= flash[:alert] %></span></h4>
    <table class="table c-table">
      <thead>
        <tr>
          <th>納品先名称</th>
          <th>納品先郵便番号</th>
          <th>納品先住所１</th>
          <th>納品先住所２</th>
          <th>納品先電話番号</th>
          <th>納品先E-Mail</th>
          <th>決済方法</th>
          <th>品目金額合計</th>
          <th>送料（税抜）</th>
          <th>決済手数料（税抜）</th>
          <th>消費税率</th>
          <th>割引・利用ポイント１</th>
          <th>消費税額</th>
          <th>請求金額</th>
          <th>品目コード</th>
          <th>品目名称</th>
          <th>予定数量</th>
          <th>品目単価</th>
          <th>１個あたりの消費税額</th>
          <th>品目金額</th>
          <th>消費税額</th>
          <th></th>
        </tr>
        <% @shipments.each do |shipment| %>
          <% item = shipment.single_line_item %>
          <% address = shipment.address %>
          <% detail = shipment.single_line_item.single_order_detail %>
          <% payment = detail.payment %>
          <% user = payment.user %>
          <tr>
            <td><%= address.name %></td>
            <td><%= address.zipcode %></td>
            <td><%= address.city %></td>
            <td><%= address.address %></td>
            <td><%= address.phone %></td>
            <td><%= user.email %></td>
            <td>クレジットカード</td>
            <td><%= number_to_jpy(detail.item_total) %></td>
            <td><%= number_to_jpy(detail.shipment_total) %></td>
            <td><%= number_to_jpy(0) %></td>
            <td>8%</td>
            <td><%= detail.used_point %></td>
            <td><%= number_to_jpy(detail.included_tax_total) %></td>
            <td><%= number_to_jpy(detail.paid_total) %></td>
            <td><%= item.variant.id %></td>
            <td><%= item.variant.name %></td>
            <td><%= item.quantity %></td>
            <td><%= number_to_jpy(item.price) %></td>
            <td><%= number_to_jpy( (item.price * 0.08).floor ) %></td>
            <td><%= '' %></td>
            <td><%= '' %></td>
            <td>
              <% if shipment.ready? %>
                <%= form_tag update_state_admins_shipments_singles_path(shipment), method: "patch", class: "u-float_left u-margin__left20" do %>
                  <%= hidden_field_tag :state, "canceled" %>
                  <%= hidden_field_tag :shipment_ids, @shipments.ids %>
                  <%= submit_tag "発送キャンセル", class: "btn btn-warning", data: { confirm: "本当に発送をキャンセルしますか？" } %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </thead>
    </table>
  </div>

</section>
