<%= form_for(@profile, url:profile_path, html: { id: "form" }) do |f| %>
  <h2>アカウント情報</h2>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= @profile.errors.count %>件のエラーが発生しました。</h2>
      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__field">
    <%= f.label :last_name, "姓(必須)" %>
    <%= f.text_field :last_name, autofocus: true, class: "form__text--long", placeholder: "姓" %>
  </div>
  <div class="form__field">
    <%= f.label :first_name, "名(必須)" %>
    <%= f.text_field :first_name, class: "form__text--long", placeholder: "名" %>
  </div>
  <div class="form__field">
    <%= f.label :last_name_kana, "せい(必須)" %>
    <%= f.text_field :last_name_kana, autofocus: true, class: "form__text--long", placeholder: "せい" %>
  </div>
  <div class="form__field">
    <%= f.label :first_name_kana, "めい(必須)" %>
    <%= f.text_field :first_name_kana, class: "form__text--long", placeholder: "めい" %>
  </div>
  <div class="form__field">
    <%= f.label :phone, "電話番号(必須)" %>
    <%= f.text_field :phone, class: "form__text--long", placeholder: "08012341234" %>
  </div>
  <div class="form__field">
    <%= f.submit class: "c-btn--submit" %>
  </div>
<% end %>
