<section class="content col-md-2 float-right">
<ul class="nav nav-pills nav-stacked">
  <li <%= 'class=active' if request.path_info == admins_shipments_one_clicks_path %>>
    <a href="<%= admins_shipments_one_clicks_path %>">全発送リスト一覧</a>
  </li>
  <li <%= 'class=active' if request.path_info == state_admins_shipments_one_clicks_path(state: "ready") %>>
    <a href="<%= state_admins_shipments_one_clicks_path(state: "ready") %>"><%="未発送一覧(#{OneClickShipment.ready.count})"%></a>
  </li>
  <li <%= 'class=active' if request.path_info == state_admins_shipments_one_clicks_path(state: "exported") %>>
    <a href="<%= state_admins_shipments_one_clicks_path(state: "exported") %>"><%="CSV出力済一覧(#{OneClickShipment.exported.count})"%></a>
  </li>
  <li <%= 'class=active' if request.path_info == state_admins_shipments_one_clicks_path(state: "shipped") %>>
    <a href="<%= state_admins_shipments_one_clicks_path(state: "shipped") %>">発送済み一覧</a>
  </li>
  <li <%= 'class=active' if request.path_info == state_admins_shipments_one_clicks_path(state: "canceled") %>>
    <a href="<%= state_admins_shipments_one_clicks_path(state: "canceled") %>">キャンセル一覧</a>
  </li>
</ul>
</section>
