<div class="content-header">
  <h3>
    クレジット支払い管理
  </h3>
</div>
<section class="content">
  <h4 class="box-title">注文リスト</h4>
  <table class="table c-table">
    <thead>
      <tr>
        <th>支払い日</th>
        <th>注文番号</th>
        <th>ステイタス</th>
        <th>支払い方法</th>
        <th>名前</th>
        <th>合計金額</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.created_at.strftime("%Y/%m/%d %H:%M")%></td>
          <td><%= payment.number  %></td>
          <td><%= payment.state %></td>
          <td><%= payment.payment_method.name %></td>
          <td><%= payment.user.email %></td>
          <td><%= payment.amount %>円</td>
          <td>
            <a href="<%= %>" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
