<%= form_for([:admins, image.variant, image]) do |i| %>
  <section class="content">
    <div class="box-body col-md-6">
      <div class="form-group">
        <% if @image.image? %>
          <%= image_tag @image.image.url %>
        <% end %><br>
        <%= i.label :image %><br>
        <%= i.file_field :image %>
        <%= i.hidden_field :image_cache %>
      </div>
      <div class="form-group">
        <%= i.label :position %><br>
        <%= i.text_field :position %>
      </div>
      <%= i.fields_for :variant_image_whereabouts, @image.variant_image_whereabouts || VariantImageWhereabout.new do |w| %>
        <div class="form-group">
          <p><%= w.label "whereabout" + (w.options[:child_index]+1).to_s %></p>
          <p><%= w.select :whereabout, options_for_select( VariantImageWhereabout.whereabouts.map {|k,v| [k.humanize.capitalize, k] } ), :include_blank => true %></p>
          <%= w.hidden_field :variant_id, :value => image.variant.id %>
        </div>
      <% end %>
      <div class="actions">
        <%= i.submit "登録", class: "submit" %>
      </div>
    </div>
  </section>
<% end %>
