<div class="content-header">
  <h3>
    <%= @imageable.sku %> / <%= link_to "画像一覧", admins_products_path %> 
    <div class="u-float_right">
      <a href="<%= new_admins_variant_image_path(variant_id: params[:variant_id]) %>" class="btn btn-primary">画像追加</a>
    </div>
  </h3>
</div>
<section class="content col-md-10">
<h4 class="box-title">画像リスト</h4>
<% if @images.present? %>
  <table class="table c-table">
    <thead>
      <tr>
        <th>image</th>
        <th>sku</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @images.each do |i| %>
      <tr>
        <td>
          <% if !i.image.nil? %>
            <%= image_tag i.image.url,:size => "60x60" %>
          <% end %>
        </td>
        <td><%= i.variant.sku %></td>
        <td>
          <a href="<%= edit_admins_variant_image_path(id: i.id ,imageable_id: params[:imageable_id]) %>" class="btn btn-warning btn-sm">
            <i class="fa fa-edit"></i>
          </a>
          <a href="<%= admins_variant_image_path(id: i.id ,imageable_id: params[:imageable_id]) %>" class="btn btn-success btn-sm" data-method="delete" data-confirm="本当に削除しますか？">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>現在画像は登録されていません</p>
<% end %>
</section>
