<div class="p-wrapper--have_padding">
  <h2 class="title">クレジット登録<br>
  <span><%= flash[:notice] %></span></h2>
  <%= form_tag(profile_credit_cards_path, method: :post, id: "form") do %>
    <div class="form__field">
      <%= label_tag :card_no, "クレジットカード番号" %>
      <%= number_field_tag :card_no, nil, class: "form__text--long", placeholder: "0000000000000000" %>
    </div>
    <div class="form__field">
      <%= label_tag :expire_month, "有効期限" %>
      <%= select_tag :expire_month, options_for_select(1..12), class: 'form__text--short' %>
      <%= select_tag :expire_year, options_for_select(@year_range), class: 'form__text--short' %>
    </div>
    <div class="form__field">
    </div>
    <%= hidden_field_tag "continue", @continue %>
    <div class="form__field">
      <%= submit_tag "登録", class: 'c-btn--submit u-margin__bottom_middle', :onclick=> "prevent_double_submit(event)" %>
    </div>
  <% end %>
</div>
