<div class='p-home_ranking_wrapper'>
  <div class='p-home_slides_ranking_title'>人気商品ランキング</div>
  <div class='p-home_slides_ranking_wrapper'>
    <div class='p-home_slides_ranking_images'>
      <div class='p-home_slides_ranking_unit'>
        <a href="<%=product_path(id: 3)%>" class='u-block_link'>
          <%= image_tag 'users/home_ranking_01.png' %>
        </a>
      </div>
      <div class='p-home_slides_ranking_unit'>
        <a href="<%=product_path(id: 8)%>" class='u-block_link'>
          <%= image_tag 'users/home_ranking_02.png' %>
        </a>
      </div>
      <div class='p-home_slides_ranking_unit'>
        <a href="<%=product_path(id: 7)%>" class='u-block_link'>
          <%= image_tag 'users/home_ranking_03.png' %>
        </a>
      </div>
      <div class='p-home_slides_ranking_unit'>
        <a href="<%=product_path(id: 9)%>" class='u-block_link'>
          <%= image_tag 'users/home_ranking_04.png' %>
        </a>
      </div>
      <div class='p-home_slides_ranking_unit'>
        <a href="<%=product_path(id: 10)%>" class='u-block_link'>
          <%= image_tag 'users/home_ranking_05.png' %>
        </a>
      </div>
  </div>
</div>