<div class="p-point">
  <div class="p-point__lost_notice">
    2014/12/12で000ポイント失効します。
  </div>
  <div class="p-point__lost_triangle">
  </div>
  <div class="p-point__circle">
    <div class="p-point__circle_inner">
      <p>ウェルネスマイレージ</p>
      <h1>0,000</h1>
    </div>
  </div>
</div>
<div class="p-wrapper--have_padding">
  <a href="<%= products_path %>">
    <div class="c-btn--submit">
      商品選択へ進む
    </div>
  </a>
  <h2 class="c-links__title">アカウントサービス</h2>
  <ul class="c-links">
    <a href="<%=  %>">
      <li class="c-link">
        注文履歴
      </li>
    </a>
    <a href="<%= %>">
      <li class="c-link">
      カード情報編集
      </li>
    </a>
    <a href="<%= account_addresses_path %>">
      <li class="c-link">
      住所編集
      </li>
    </a>
    <a href="<%= edit_user_registration_path %>">
    <li class="c-link">
      メールアドレス・パスワード編集
      </li>
    </a>
    <a href="<%= edit_profile_path %>">
      <li class="c-link">
      アカウント情報編集
      </li>
    </a>
  </ul>
</div>
