<div class="p-point">
  <div class="p-point__lost_notice">
    2016/12/12で<%= @wellness_mileage %>ポイント失効します。
  </div>
  <div class="p-point__lost_triangle">
  </div>
  <div class="p-point__circle">
    <div class="p-point__circle_inner">
      <p>ウェルネスマイレージ</p>
      <h1><%= @wellness_mileage %></h1>
    </div>
  </div>
</div>
<div class="p-wrapper--have_padding">
  <a href="<%= products_path %>">
    <div class="c-btn--submit">
      商品選択へ進む
    </div>
  </a>
  <h2 class="c-links__title">アカウントサービス</h2>
  <ul class="c-links">
    <a href="<%= orders_path %>">
      <li class="c-link">
        注文履歴
      </li>
    </a>
    <a href="<%= profile_credit_cards_path %>">
      <li class="c-link">
      カード情報編集
      </li>
    </a>
    <a href="<%= account_addresses_path %>">
      <li class="c-link">
      住所編集
      </li>
    </a>
    <a href="<%= edit_profile_path(continue: account_path) %>">
      <li class="c-link">
      アカウント情報編集
      </li>
    </a>
  </ul>
</div>
