<%= javascript_include_tag 'users/products/show' %>

<div class="p-point">
  <%if current_user.try(:profile).try(:name) %>
    <div class="c-top_notice" style='font-size:13px'>
      こんにちは <%= current_user.try(:profile).try(:name) %>さん
    </div>
    <div class="c-second_top_notice">
      Wellnessマイレージ：
      <span class="c-second_top_notice_mile"><%= @wellness_mileage %></span>
      <span class="c-second_top_notice_unit">マイル</span>
    </div>
  <% end %>
</div>

<div class='p-home_list'>
  <div class='p-home_top'>
    <%= image_tag 'users/home_top.png', class: 'p-home_top_image' %>
  </div>
</div>
<div class='p-home_list'>
  <div class='p-home_list_title_category'>カテゴリから選ぶ</div>
  <div class='p-home_category_lists'>
    <% @taxons.each.with_index(2) do |taxon, index| %>
      <div class='p-home_category_list_wrapper'>
        <a href="<%=taxons_path(id: taxon.id)%>" class='u-block_link'>
          <div class='p-home_category_list_before'>
            <%= image_tag "users/category_#{index}.png", class: 'p-home_category_image' %>
          </div>
          <div class='p-home_category_list'><%= taxon.name %></div>
        </a>
      </div>
    <% end %>
    <div class='p-home_category_list_wrapper'>
      <a href="<%=products_path%>" class='u-block_link'>
        <div class='p-home_category_list_before'>
          <%= image_tag 'users/category_1.png', class: 'p-home_category_image' %>
        </div>
        <div class='p-home_category_list'>すべて</div>
      </a>
    </div>
  </div>
</div>
<div class='p-home_ranking_wrapper'>
  <div class='p-home_slides_ranking_title'>人気商品ランキング</div>
    <div class='p-home_slides_ranking_wrapper'>
      <div class='p-home_slides_ranking_images'>
        <div class='p-home_slides_ranking_unit'>
          <a href="<%=product_path(id: 3)%>" class='u-block_link'>
            <%= image_tag 'users/home_ranking_01.png' %>
          </a>
        </div>
        <div class='p-home_slides_ranking_unit'>
          <a href="<%=product_path(id: 8)%>" class='u-block_link'>
            <%= image_tag 'users/home_ranking_02.png' %>
          </a>
        </div>
        <div class='p-home_slides_ranking_unit'>
          <a href="<%=product_path(id: 7)%>" class='u-block_link'>
            <%= image_tag 'users/home_ranking_03.png' %>
          </a>
        </div>
        <div class='p-home_slides_ranking_unit'>
          <a href="<%=product_path(id: 9)%>" class='u-block_link'>
            <%= image_tag 'users/home_ranking_04.png' %>
          </a>
        </div>
        <div class='p-home_slides_ranking_unit'>
          <a href="<%=product_path(id: 10)%>" class='u-block_link'>
            <%= image_tag 'users/home_ranking_05.png' %>
          </a>
        </div>
    </div>
  </div>
</div>