<%= form_tag shipment_details_admins_shipments_path, method: "get" do %>
  <table class="table c-table">
    <thead>
      <tr>
        <th>支払い日</th>
        <th>注文番号</th>
        <th>発送状況</th>
        <th>商品SKU名</th>
        <th>名前</th>
        <th>税込金額</th>
        <th><%= submit_tag "詳細情報", class: '' %></th>
      </tr>
    </thead>
    <tbody>
      <% shipments and shipments.each do |shipment| %>
        <% payment = shipment.single_line_item.single_order_detail.payment %>
        <tr>
          <td><%= payment.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td><%= payment.number %></td>
          <td><%= t("shipment.state.#{shipment.state}") %></td>
          <td><%= shipment.single_line_item.variant.name %></td>
          <td><%= payment.user.profile.try(:name) %></td>
          <td><%= number_to_currency(shipment.single_line_item.price.to_i * shipment.single_line_item.quantity.to_i) %></td>
          <td>
          <%= check_box_tag 'shipment[ids][]', shipment.id, false, {:class => 'shipment_check_box', :id => "shipment_#{shipment.id}"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>