<table class="table c-table">
  <thead>
    <tr>
      <th>支払い日</th>
      <th>注文番号</th>
      <th>ステイタス</th>
      <th>支払い方法</th>
      <th>名前</th>
      <th>合計金額</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% shipments and shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.payment.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= shipment.payment.number %></td>
        <td><%= t("shipment.state.#{shipment.state}") %></td>
        <td><%= t("payment.method.gmo_credit") if shipment.payment.payment_method.try(:name).to_s.include?("GmoPaymentGateway::CreditCard") %></td>
        <td><%= shipment.payment.user.profile.try(:name) %></td>
        <td><%= number_to_currency(shipment.payment.amount) %></td>
        <td>
          <a href="<%= admins_shipment_path(shipment) %>" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
