<div class="content-header">
  <h3>
    発送管理
  </h3>
</div>

<section class="content col-md-10">
  <h4 class="box-title"><%= @title %></h4>
  <table class="table c-table">
    <thead>
      <tr>
        <th>リクエスト日</th>
        <th>商品名</th>
        <th>ユーザー名</th>
        <th>メッセージ</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @return_requested_items.present? %>
        <% @return_requested_items.each do |item| %>
          <tr>
            <td><%= item.created_at.strftime("%Y/%m/%d %H:%M") %></td>
            <td><%= link_to(item.single_line_item.variant.name, admins_product_variants_path(product_id: item.single_line_item.variant.product.id) ) %></td>
            <td><%= item.user.profile.name %></td>
            <td class="message"><%= item.message %></td>
            <td>
              <%= form_tag update_state_admins_shipment_path(item.single_line_item.single_order_detail.payment.shipment.id), method: "patch", class: "u-float_left" do %>
              <%= hidden_field_tag :state, "returned" %>
              <%= hidden_field_tag :returned_item_id, item.id %>
              <%= submit_tag "返品を受け付ける", class: "btn btn-primary", data: { confirm: "本当に実行しますか？" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>

<section>
  <%= render partial: 'nav', locals: {} %>
</section>
