<div class="content-header">
  <h3>
    <%= link_to '発送管理', admins_shipments_path %> / <%= @shipment.payment.number %>
    <div class="u-float_right">
      <% if @shipment.state == "shipped" %>
        <div class="btn btn-warning">発送済み</div>
      <% elsif @shipment.state == "canceled" %>
        <div class="btn btn-danger">キャンセルされました</div>
      <% else #@shipment.state != "shipped" %>
        <%= form_tag update_state_admins_shipment_path(@shipment), method: "patch", class: "u-float_left" do %>
          <%= hidden_field_tag :state, "shipped" %>
          <%= submit_tag "発送完了", class: "btn btn-primary", data: { confirm: "本当に実行しますか？" } %>
        <% end %>
      <% end %>
    </div>
  </h3>
</div>

<section class="content">

  <div class="content col-md-9">
    <h4 class="box-title">購入商品<span style="color:red"><%= flash[:alert] %></span></h4>
    <table class="table c-table">
      <thead>
        <tr>
          <th>名前</th>
          <th>画像</th>
          <th>値段</th>
          <th>個数</th>
          <th>合計</th>
          <th></th>
        </tr>
        <% @shipment.payment.single_order_detail.single_line_items.each do |single_line_item| %>
          <tr>
            <td><%= single_line_item.variant.sku %></td>
            <td><%= image_tag single_line_item.variant.images.first.try(:image).try(:url), class: "thumb" %></td>
            <td><%= single_line_item.price %></td>
            <td><%= single_line_item.quantity %></td>
            <td><%= number_to_currency(single_line_item.quantity * single_line_item.price) %></td>
            <td>
              <% unless single_line_item.canceled? %>
                <%= form_tag update_state_admins_shipment_path(@shipment), method: "patch", class: "u-float_left u-margin__left20" do %>
                  <%= hidden_field_tag :state, "canceled" %>
                  <%= hidden_field_tag :single_line_item_id, single_line_item.id %>
                  <%= submit_tag "発送キャンセル", class: "btn btn-warning", data: { confirm: "本当に発送をキャンセルしますか？" } %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <%= form_tag update_tracking_code_admins_shipment_path(@shipment), method: "patch" do %>
          <tr>
            <td><%= label_tag :tracking, t("shipment.tracking") %></td>
            <td colspan="3">
              <%= text_field_tag :tracking, @shipment.tracking, class: "form-control", placeholder: "追跡番号を入力してください" %>
            </td>
            <td>
              <%= submit_tag "登録", class: "btn btn-primary", data: { confirm: "本当に実行しますか？" } %>
            </td>
          </tr>
        <% end %>
      </thead>
    </table>
  </div>

  <div class="content col-md-9">
    <h4 class="box-title">お届先情報</h4>
    <table class="table c-table">
      <thead>
        <tr>
          <th>名前</th>
          <th><%= @shipment.payment.address.name %></th>
        </tr>
        <tr>
          <th>郵便番号</th>
          <th><%= @shipment.payment.address.zipcode %></th>
        </tr>
        <tr>
          <th>都道府県</th>
          <th><%= @shipment.payment.address.city %></th>
        </tr>
        <tr>
          <th>住所</th>
          <th><%= @shipment.payment.address.address %></th>
        </tr>
        <tr>
          <th>電話番号</th>
          <th><%= @shipment.payment.address.phone %></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="content col-md-9">
    <h4 class="box-title">サマリ</h4>
    <table class="table c-table">
      <thead>
        <tr>
          <th colspan="2">配送情報</th>
        </tr>
        <tr>
          <th>配送状況</th>
          <th><%= t("shipment.state.#{@shipment.state}") %></th>
        </tr>
        <tr>
          <th colspan="2">支払い情報</th>
        </tr>
        <tr>
          <th>支払い</th>
          <th><%= t("payment.state.#{@shipment.payment.state}") %></th>
        </tr>
        <tr>
          <th>配送料</th>
          <th><%= number_to_currency(@shipment.payment.single_order_detail.shipment_total) %></th>
        </tr>
        <tr>
          <th>税金</th>
          <th><%= number_to_currency(@shipment.payment.single_order_detail.additional_tax_total) %></th>
        </tr>
        <tr>
          <th>使用ポイント</th>
          <th><%= @shipment.payment.single_order_detail.used_point %>Pt</th>
        </tr>
        <tr>
          <th>合計金額</th>
          <th><%= number_to_currency(@shipment.payment.amount) %></th>
        </tr>
        <tr>
          <th colspan="2">購入者情報</th>
        </tr>
        <tr>
          <th>名前</th>
          <th><%= @shipment.payment.user.name %></th>
        </tr>
        <tr>
          <th>電話番号</th>
          <th><%= @shipment.payment.user.profile.phone %></th>
        </tr>
        <tr>
          <th>メール</th>
          <th><%= @shipment.payment.user.email %></th>
        </tr>
      </thead>
    </table>
  </div>
</section>
