<section class="content-header">
<h1>後払い管理</h1>
</section>
<section class="content col-md-9">
<h3>審査中一覧</h3>

<%= render partial: 'post_payment_table', locals: {} %>

</section>
<section class="content col-md-2 float-right">
<ul class="nav nav-pills nav-stacked">
  <li><a href="<%= post_payment_admins_bills_path%>">後払い一覧</a></li>
  <li><a href="<%= post_payment_admins_bills_path%>?state=unexamined">未審査一覧</a></li>
  <li class="active"><a href="<%= post_payment_admins_bills_path%>?state=examining">審査中一覧</a></li>
  <li><a href="<%= post_payment_admins_bills_path%>?state=examined">審査済み一覧</a></li>
</ul>
</section>
