<% single_price = @single_prices[@variants[product.id].id] %>
<% subscription_price = @subscription_prices[@variants[product.id].id] %>

<a href="<%= product_path(id: product.id) %>">
  <div class="c-product">
    <%= image_tag @images[@variants[product.id].id].image.url, class: "c-product__image" %>
    <div class="c-product__left_wrapper">
      <div class="c-product__title">
        <%= product.name %>
      </div>
      <div class="c-product__price">
        <% if(single_price && subscription_price) %>
          <p class="c-product__price_title"><%=t('order_type.single_order')%></p>
        <% end %>
        <% if single_price %>
          <p class="c-product__price_value">
            <%= single_price.amount %>円
          </p>
        <% end %>
      </div>
      <div class="c-product__price">
        <%if( subscription_price && single_price ) %>
            <p class="c-product__price_title"><%=t('order_type.subscription_order')%></p>
        <% end %>
        <% if(subscription_price) %>
          <p class="c-product__price_value">
            <%= subscription_price.amount %>円
          </p>
        <% end %>
      </div>
    </div>
    <div class="c-product__right_wrapper">
    </div>
  </div>
</a>