<a href="<%= product_path(p.id) %>">
  <div class="c-product">

    <%= image_tag p.images.first.image.url, class: "c-product__image" %>
    <div class="c-product__left_wrapper">
      <div class="c-product__title">
        <%= p.name %>
      </div>
      <div class="c-product__price">
        <%if(!p.variants.single_order.blank?) %>
          <p class="c-product__price_title"><%=t('order_type.single_order')%></p>
          <p class="c-product__price_value">
            <%= p.variants.single_order.first.prices.first.amount %>円
          </p>
        <% end %>
      </div>
      <div class="c-product__price">
        <%if(!p.variants.subscription_order.blank?) %>
          <p class="c-product__price_title"><%=t('order_type.subscription_order')%></p>
          <p class="c-product__price_value">
            <%= p.variants.subscription_order.first.prices.first.amount %>円
          </p>
        <% end %>
      </div>
    </div>
    <div class="c-product__right_wrapper">
    </div>
  </div>
</a>