<% single_price = @single_prices_indexed_by_variant_id[@variants_indexed_by_product_id[product.id].id] %>
<% subscription_price = @subscription_prices_indexed_by_variant_id[@variants_indexed_by_product_id[product.id].id] %>

<% if product.one_click_product? %>
  <a href="<%= show_one_click_products_path(id: product.id) %>">
<% else %>
  <a href="<%= product_path(id: product.id) %>">
<% end %>
  <div class="c-product">
    <%= image_tag @images[@variants_indexed_by_product_id[product.id].id].image.url, class: "c-product__image" %>
    <div class="c-product__left_wrapper">
      <div class="c-product__title">
        <%= product.name %>
      </div>
      <div class="c-product__price">
        <% if(single_price && subscription_price) %>
          <p class="c-product__price_title"><%=t('order_type.single_order')%></p>
        <% end %>
        <% if single_price %>
          <p class="c-product__price_value">
          <%= number_to_jpy(single_price.amount) %><%=t('tax.included') %>
          </p>
        <% end %>
      </div>
      <div class="c-product__price">
        <%if( subscription_price && single_price ) %>
            <p class="c-product__price_title"><%=t('order_type.subscription_order')%></p>
        <% end %>
        <% if(subscription_price) %>
          <p class="c-product__price_value">
            <%= number_to_jpy(subscription_price.amount) %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="c-product__right_wrapper">
    </div>
  </div>
</a>
