<a href="<%= product_path(p.id) %>">
  <div class="c-product">
    <%= image_tag "users/sample_item_01.png", class: "c-product__image" %>
    <div class="c-product__left_wrapper">
      <div class="c-product__title">
        <%= p.name %>/<%= p.id %>
      </div>
      <div class="c-product__price">
        <%if(p.variants.pluck("order_type").include?(1)) %>
          <p class="c-product__price_title"><%=t('order_type.subscription_order')%></p>
          <p class="c-product__price_value">
            <% p.variants.each do |v| %>
              <% if v.order_type=="subscription_order" %>
                <%= v.prices.pluck("amount").first %>
              <% end %>
            <% end %>
          </p>
        <% end %>
      </div>
      <div class="c-product__price">
        <%if(p.variants.pluck("order_type").include?(2)) %>
          <p class="c-product__price_title"><%=t('order_type.single_order')%></p>
          <p class="c-product__price_value">
              <% p.variants.each do |v| %>
                <% if v.order_type=="single_order" %>
                  <%= v.prices.pluck("amount").first %>円
                <% end %>
              <% end %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="c-product__right_wrapper">
    </div>
  </div>
</a>