<%= javascript_include_tag 'users/products/show' %>
<%= form_tag(populate_orders_path, :method => :post) do %>

  <h2 class="p-product_title"><%= @product.name %></h2>
  <div class='p-product_nutritionist'>
    <div class='p-product_nutritionist_flame'>
      <div class='p-product_nutritionist_comment'>
        <%= @product.product_description.try(:nutritionist_explanation) %>
      </div>
    </div>
    <div class='p-product_nutritionist_image'>
      <%= image_tag "users/nutritionist.png" %>
    </div>
  </div>
  <div class='p-product_description'>
    <h2 class='p-product_description_title'>ポイント</h2>
    <% @product.how_to_use_products.each.with_index(1) do |h, index| %>
      <div class='p-product_description_contents'>
        <div class='p-product_description_contents_images'><%= image_tag @description_images.find_by(position: index).image.url if @description_images.find_by(position: index).present? %></div>
        <div class='p-product_description_contents_details'>
          <%= h.description %>
        </div>
      </div>
      <!-- <div class='p-product_description_contents_arrow'></div> -->
    <% end %>
  </div>
  <div class="flexslider">
    <ul class="slides">
      <% @product.preview_images('top').each do |image| %>
        <li><%= image_tag image.image.url %></li>
      <% end %>
    </ul>
  </div>
<% if false # FIXME%>
  <div class='p-product_description'>
    <h2 class='p-product_description_title'><%= @product.name %></h2>
    <div class='p-product_description_price'><%= number_to_jpy(@product.variants.first.price.amount) %>（税込）</div>
    <%= hidden_field_tag :variant_id, @product.variants.single_variant.id %>
    <%= submit_tag 'カートに追加', class: 'c-btn--submit' %>
  </div>
<% end %>
  <div class="p-wrapper--have_padding">
    <ul class="p-payment_method_selections">
      <li class="p-payment_method_selection">
        <p class="p-payment_method_selection__name">
          <%= @product.name %>
        </p>
      </li>
      <li class="p-payment_method_selection">
        <%= hidden_field_tag :variant_id, @product.variants.single_variant.id %>
        <p class="p-payment_method_selection__title">
          <%=t('order_type.price')%>
        </p>
        <p class="p-payment_method_selection__price">
          <%= number_to_jpy(@product.variants.single_variant.price.amount) %><%=t('tax.included') %>
        </p>
      </li>
      <li class="p-payment_method_selection">
        <div class="p-payment_method__detail is-active">
          <p>数量: </p>
          <%= select_tag :quantity, options_for_select(@available_quantity), class: 'p-payment_method__amount' %>
          <p class="u-margin__right_short">個</p>
          <%= submit_tag 'カートに追加', class: 'c-btn--submit--short u-margin__top5' %>
        </div>
      </li>
    </ul>
  </div>
<% end %>