<%= javascript_include_tag 'users/products/show' %>

<h2 class="p-product_title"><%= @product.name %></h2>
<div class='p-product_nutritionist'>
  <div class='p-product_nutritionist_flame'>
    <div class='p-product_nutritionist_comment'>
  vgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhjvgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhjvgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhjvgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhjvgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhjvgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhjvgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhj
    </div>
  </div>
  <div class='p-product_nutritionist_image'>
    <%= image_tag "users/nutritionist.png" %>
  </div>
</div>
<div class='p-product_description'>
  <h2 class='u-margin__top10 u-margin__bottom10'>使用方法</h2>
  <% 3.times do %>
    <div class='p-product_description_contents'>
      <div class='p-product_description_contents_images'><%= image_tag "users/water.png" %></div>
      <div class='p-product_description_contents_details'>vgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhjvgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhjvgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhjvgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhjvgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhjvgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhjvgaasdfghjklkjhfdfghjklkhgfhjkkjhhjkhhjkjhj</div>
    </div>
    <div class='p-product_description_contents_arrow'></div>
  <% end %>
</div>
<div class="flexslider">
  <ul class="slides">
    <% @product.preview_images.each do |image| %>
      <li><%= image_tag image.image.url %></li>
    <% end %>
  </ul>
</div>
<div class='p-product_description'>
  <h2 class='p-product_description_title'><%= @product.name %></h2>
  <div class='p-product_description_price'><%= number_to_jpy(@product.variants.first.price.amount) %>（税込）</div>
  <%= submit_tag 'カートに追加', class: 'c-btn--submit' %>
</div>