<%= javascript_include_tag 'users/products/show' %>
<%= form_tag(populate_orders_path, :method => :post) do %>

  <% single = @product.variants.single_variant %>
  <% subscription = @product.variants.subscription_variant %>
  <div class="p-product_title_wrapper">
    <h2 class="p-product_title"><%= @product.name %></h2>
  </div>
  <div class="flexslider">
    <ul class="slides">
      <% @product.preview_images('top').each do |image| %>
        <li><%= image_tag image.image.url %></li>
      <% end %>
    </ul>
  </div>
<% if false #FIXME%>
    <div class="p-product__price_wrapper">
      <% @product.variants.single_order.each do |single| %>
        <% if single.variant_available? %>
          <div class="p-product__price">
            <p class="p-product__price_title">
            <% if(@product.subscription_master_price.present?) %>
              <%=t('order_type.single_order')%>
            <% end %>
            </p>
            <p class="p-product__price_value">
            <%= number_to_jpy(single.prices.pluck(:amount).first) %>
            <span class="p-product__price_unit">
              <%=t('tax.included') %>
            </span>
            </p>
          </div>
        <% end %>
      <% end %>

      <% @product.variants.subscription_order.each do |subscription| %>
        <% if subscription.variant_available? %>
          <div class="p-product__price">
            <p class="p-product__price_title">
            <% if(@product.single_master_price.present?) %>
              <%=t('order_type.subscription_order')%>
            <% end %>
            </p>
            <p class="p-product__price_value">
            <%= number_to_jpy(subscription.prices.pluck(:amount).first) %>円
            <span class="p-product__price_unit"><%=t('tax.included') %></span>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
<% end %>
  <div class="p-wrapper--have_padding">
    <ul class="p-payment_method_selections">
      <% if single.present? && single.available? %>
        <li class="p-payment_method_selection">
        <% if subscription.present? && subscription.available? %>
          <div class="p-payment_method_selection__radio">
            <%= radio_button_tag :variant_id, single.id, {:checked => true} %>
          </div>
        <% else %>
          <%= hidden_field_tag :variant_id, single.id %>
        <% end %>
        <p class="p-payment_method_selection__title">
        <%=t('order_type.price')%>
        </p>
        <p class="p-payment_method_selection__price">
          <%= number_to_jpy(single.price.amount) %><%=t('tax.included') %>
        </p>
        </li>
      <% end %>
<% if false #FIXME %>
        <% if subscription.present? && subscription.available? %>
          <li class="p-payment_method_selection">
          <% if single.present? && single.available? %>
            <div class="p-payment_method_selection__radio">
              <%= radio_button_tag :variant_id, subscription.id %>
            </div>
          <% else %>
            <%= hidden_field_tag :variant_id, subscription.id %>
          <% end %>
          <p class="p-payment_method_selection__title">
          <%=t('order_type.subscription_order')%>
          </p>
          <p class="p-payment_method_selection__price">
          <%= number_to_jpy(subscription.price.amount) %>
          </p>
          <p class="p-payment_method_selection__attention">
          ※初回2ヶ月分の料金をいただきます。
          </p>
          </li>
        <% end %>
<% end %>

      <li class="p-payment_method_selection">
      <div class="p-payment_method__detail is-active">
        <p>数量: </p>
<% if false #FIXME%>
          <%= number_field_tag :quantity, nil, min: 1, class: 'p-payment_method__amount' %>
<% end %>
        <%= select_tag :quantity, options_for_select(@available_quantity), class: 'p-payment_method__amount' %>
        <p class="u-margin__right_short">個</p>
        <%= submit_tag 'カートに追加', class: 'c-btn--submit--short u-margin__top5' %>
      </div>
      </li>
    </ul>

    <h2 class="p-lists__title">栄養士からの一言</h2>
    <ul class="p-lists u-margin__bottom25">
      <li class="p-list__image">
        <div class="p-list__fincrew">
          <%= image_tag "users/icon_yuka.png" %>
        </div>
        <div class="p-list__fincrew_description">
          <%= include_line_break(@product.product_description.try(:nutritionist_word)) %>
        </div>
        <div class = "c-btn--product--detail_wrapper">
          <a href="<%= description_products_path(@product.id) %>">
            <div class="c-btn--product--detail">
              詳しく見る
            </div>
          </a>
        </div>
      </li>
      <h2 class="p-lists__title">この商品について</h3>
      <li class="p-list">
        <div class="p-list__description">
          <%= include_line_break(@product.product_description.try(:description)) %>
        </div>
      </li>
    </ul>
    <%= submit_tag 'カートに追加', class: 'c-btn--submit' %>
  </div>
<% end %>
