<%= javascript_include_tag 'users/products/show' %>
<%= form_tag(populate_orders_path, :method => :post) do %>
  <h2 class="p-product_title"><%= @product.name %></h2>
  <div class="flexslider">
    <ul class="slides">
      <li>
        <%= image_tag @product.images.first.image.url %>
      </li>
    </ul>
  </div>
  <div class="p-product__price_wrapper">
    <% if(!@product.variants.single_order.blank?) %>
      <div class="p-product__price">
        <p class="p-product__price_title"><%=t('order_type.single_order')%></p>
        <p class="p-product__price_value">
          <%= @product.variants.single_order.first.prices.pluck(:amount).first %>円
          <span class="p-product__price_unit">(税込)</span>
        </p>
      </div>
    <% end %>

    <% if(!@product.variants.subscription_order.blank?) %>
      <div class="p-product__price">
        <p class="p-product__price_title"><%=t('order_type.subscription_order')%></p>
        <p class="p-product__price_value">
          <%= @product.variants.subscription_order.first.prices.pluck(:amount).first %>円
          <span class="p-product__price_unit">(税込)</span>
        </p>
      </div>
    <% end %>
  </div>

  <div class="p-wrapper--have_padding">
    <ul class="p-payment_method_selections">
      <% if(!@product.variants.single_order.blank?) %>
        <li class="p-payment_method_selection">
          <div class="p-payment_method_selection__radio">
            <% # TODO get variant_id %>
            <%= radio_button_tag :variant_id, @product.variants.single_order.first.id %>
          </div>
          <p class="p-payment_method_selection__title">
            <%=t('order_type.single_order')%>
          </p>
          <p class="p-payment_method_selection__price">
            <%= @product.variants.single_order.first.prices.pluck(:amount).first %>円
          </p>
          <div class="p-payment_method__detail">
            <p>数量: </p>
            <%= number_field_tag :quantity, nil, min: 1, class: 'p-payment_method__amount' %>
            <p class="u-margin_short">個</p>
            <%= submit_tag 'カートへ', class: 'c-btn--submit--short' %>
          </div>
        </li>
      <% end %>

      <% if(!@product.variants.subscription_order.blank?) %>
        <li class="p-payment_method_selection">
          <div class="p-payment_method_selection__radio">
            <% # TODO get variant_id %>
            <%= radio_button_tag :variant_id, @product.variants.single_order.first.id %>
          </div>
          <p class="p-payment_method_selection__title">
          <%=t('order_type.subscription_order')%>
          </p>
          <p class="p-payment_method_selection__price">
            <%= @product.variants.subscription_order.first.prices.pluck(:amount).first %>円
          </p>
          <p class="p-payment_method_selection__attention">
          ※初回2ヶ月分の料金をいただきます。
          </p>
          <div class="p-payment_method__detail is-active">
            <p>数量: </p>
            <%= number_field_tag :quantity, nil, min: 1, class: 'p-payment_method__amount' %>
            <p class="u-margin__left_short">個</p>
            <%= submit_tag 'カートへ', class: 'c-btn--submit--short' %>
          </div>
        </li>
      <% end %>
    </ul>

    <h2 class="u-margin__top25">この商品について</h2>
    <ul class="p-lists">
      <li class="p-list">
      <p>栄養士からの説明</p>
      <div class="p-list__fincrew">
        <%= image_tag "users/icon_yuka.png" %>
      </div>
      <div class="p-list__fincrew_description">
        いいいいいいい 
      </div>
      </li>
      <li class="p-list">
      <p>商品詳細</p>
      <div class="p-list__description">
        <%= @product.description %>
      </div>
      </li>
    </ul>
    <a href="<%= products_path %>">
      <div class="c-btn--submit">
        レジへ進む
      </div>
    </a>
  </div>
<% end %>