<div class="sidebar">
  <ul>
    <li id="sidebar_title">カテゴリ</li>
    <%= link_to products_path do %>
      <li class="sidebar_lists">
        <div class='sidebar_lists_left'>全てのカテゴリ</div>
        <div class='sidebar_lists_right'></div>
      </li>
    <% end %>
    <% current_user.shown_taxon.leaves.each do |leaf| %>
      <%= link_to taxons_path(id: leaf.id) do %>
        <li class="sidebar_lists">
          <div class='sidebar_lists_left'><%= leaf.name %></div>
          <div class='sidebar_lists_right'></div>
        </li>
      <% end %>
    <% end %>
    <li class="sidebar_lists_with_top_margin">
      <%= link_to single_history_orders_path do %>
        <div class='sidebar_lists_left'>注文履歴</div>
        <div class='sidebar_lists_right'></div>
      <% end %>
    </li>
    <li class="sidebar_lists">
      <%= link_to guidance_path(name: 'user_guidance') do %>
        <div class='sidebar_lists_left'>利用案内</div>
        <div class='sidebar_lists_right'></div>
      <% end %>
    </li>
    <li class="sidebar_lists_min">
      <%= link_to guidance_path(name: 'privacy') do %>
        <div class='sidebar_lists_left'>プライバシーポリシー</div>
        <div class='sidebar_lists_right'></div>
      <% end %>
    </li>
    <li class="sidebar_lists_min">
      <%= link_to guidance_path(name: 'specified_commercial_transaction_act') do %>
        <div class='sidebar_lists_left'>特定商取引法に基づく表示</div>
        <div class='sidebar_lists_right'></div>
      <% end %>
    </li>
  </ul>
</div>
