<!DOCTYPE html>
<html>
<head>
  <title>FiNCstore</title>
  <%= stylesheet_link_tag    'users/app', media: 'all' %>
  <%= javascript_include_tag 'users/app' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
  <meta name="format-detection" content="telephone=no">
  <%= favicon_link_tag(source='/favicon.ico', options={}) %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48371820-22', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
<% unless current_user.blank? %>
  <%= render :partial => "layouts/users/sidebar" %>
<% end %>
<div class="js-fixed-contents">
  <%= render :partial => "layouts/users/header" %>
  <div id="main">
    <%= yield %>
  </div>
  <% unless current_user.blank? %>
    <%= render :partial => "layouts/users/footer" %>
  <% end %>
</div>
</body>
</html>
