<!DOCTYPE html>
<html>
<head>
  <title>FiNCstore</title>
  <%= stylesheet_link_tag    'users/app', media: 'all' %>
  <%= javascript_include_tag 'users/app' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
  <meta name="format-detection" content="telephone=no">
  <%= favicon_link_tag(source='/favicon.ico', options={}) %>
</head>
<body>
<%= render :partial => "layouts/users/header" %>
<div id="main">
  <%= yield %>
</div>
<% if !current_user.blank? %>
  <%= render :partial => "layouts/users/footer" %>
<% end %>
</body>
</html>
