<%= form_for([:admins, variant.product, variant]) do |v| %>

  <section class = "content">
  <div class="box-body col-md-6">
    <div class="field">
      <p><%= v.label :sku %></p>
      <%= v.text_field :sku, class: "form-control" %>
    </div>
    <div class="field">
      <p><%= v.label :is_valid_at %></p>
      <%if params[:action]=="new" %>
        <%= v.date_field :is_valid_at, value: Date.today%><br/>
      <% else %>
        <%= v.date_field :is_valid_at %><br/>
      <% end %>
    </div>
    <div class="field">
      <p><%= v.label :is_invalid_at %></p>
      <%if params[:action]=="new" %>
        <p><%= v.date_field :is_invalid_at, value: Date.today+6*30 %></p>
      <% else %>
        <p><%= v.date_field :is_invalid_at %></p>
      <% end %>
    </div>
    <div class="field">
      <p> <%= v.select :order_type,{t('order_type.single_order') => "single_order", t('order_type.subscription_order') => "subscription_order"},{},{:class=>"form-control"} %></p>
    </div>
    <%= v.fields_for :prices do |p| %>
      <div class="field">
        <p><%= p.label :amount %></p>
        <p><%= p.text_field :amount, class: "form-control", value: variant.prices.pluck(:amount) %></p>
      </div>
    <% end %>
    <div class="actions">
      <%= v.submit "登録", class: "btn" %>
    </div>

  <% end %>
</div>
</section>
