<div class="content-header">
  <h3>
    <%= link_to "商品一覧", admins_products_path %> / <%= @product.name %>
    <div class="u-float_right">
      <a href="<%= new_admins_product_variant_path %>" class="btn btn-primary">Variant追加</a>
    </div>
  </h3>
</div>
<section class="content col-md-10">
  <h4 class="box-title">Variantリスト</h4>
  <% if !@variants.blank? %>
    <table class="table c-table">
      <thead>
        <tr>
          <th>名前</th>
          <th>sku</th>
          <th>IMAGE</th>
          <th>注文タイプ</th>
          <th>price</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @variants.each do |v| %>
        <tr>
          <td><%= v.name %></td>
          <td><%= v.sku %></td>
          <td><%= image_tag v.images.first.try(:image).try(:url), class: "thumb" %>(<%= v.images.count %>)</td>
          <td>
            <% if !v.order_type.nil? %>
              <%= t('order_type.'+v.order_type) %>
            <% end %></td>
          <td>
            <%= v.price.amount %>
          </td>
          <td><%= t(v.classify_validity) %></td>
          <td>
            <a href="<%= admins_variant_images_path(v.id) %>" class="btn btn-info btn-sm">
              <i class="fa fa-file-o"></i>
            </a>
            <a href="<%= edit_admins_product_variant_path(@product.id, v.id) %>" class="btn btn-warning btn-sm">
              <i class="fa fa-edit"></i>
            </a>
            <a href="<%= admins_product_variant_path(@product.id, v.id) %>" class="btn btn-success btn-sm" data-method="delete" data-confirm="本当に削除しますか？">
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>現在variantは登録されていません</p>
  <% end %>
</section>
<%= render partial: '/admins/products/nav', locals: { product: @product } %>
