<div class="content-header">
  <h3>
    <%= link_to "商品一覧", admins_products_path %> / <%= @product.name %>
    <div class="u-float_right">
      <a href="<%= new_admins_product_variant_path %>" class="btn btn-primary">Variant追加</a>
    </div>
  </h3>
</div>
<section class="content col-md-9">
<% if !@variants.blank? %>
  <table class="table c-table_new">
    <thead>
      <tr>
        <th>sku</th>
        <th>注文タイプ</th>
        <th>price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @variants.each do |v| %>
        <tr>
          <th>sku</th>
          <th>注文タイプ</th>
          <th>price</th>
          <th>状態</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @variants.each do |v| %>
          <tr>
            <td><%= v.sku %></td>
            <td>
              <% if !v.order_type.nil? %>
                <%= t('order_type.'+v.order_type) %>
              <% end %></td>
            <td>
              <% v.prices.each do |p| %><%= p.amount %><% end %>
            </td>
            <td><%= t(v.classify_validity) %></td>
            <td><a href="<%= edit_admins_product_variant_path(id: v.id) %>">variant#edit</a></td>
            <td><a href="<%= admins_product_variant_path(id: v.id) %>"data-method="delete"><%= "variant#delete" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>現在variantは登録されていません</p>
    <% end %>
  </div>
  </section>
  <section class="content col-md-2 float-right">
  <ul class="nav nav-pills nav-stacked">
    <li <%= 'class=active' if request.fullpath == edit_admins_product_path(params[:product_id])  %>><a href="<%= edit_admins_product_path(params[:product_id]) %>">商品詳細</a></li>
    <li <%= 'class=active' if request.fullpath == admins_product_variants_path(params[:product_id])  %>><a href="<%= admins_product_variants_path(params[:product_id])%>">Variants詳細</a></li>
    <li><a href="<%= %>">画像詳細</a></li>
    <li><a href="<%= %>">在庫管理</a></li>
  </ul>
  </section>
