<div class="content-header">
  <h3>
    <%= link_to 'ユーザー管理', admins_users_path %> / <%= @user.id %>
  </h3>
  <%= flash[:notice] %>
</div>

  <section class="content">

  <div class="content col-md-9">
    <table class="table c-table">
      <thead>
        <tr>
          <th>ユーザー情報</th>
          <th></th>
        </tr>
        <% if @user.profile.present? %>
          <tr>
            <th>名前</th>
            <th><%= @user.profile.last_name %> <%= @user.profile.first_name %></th>
          </tr>
          <tr>
            <th>電話番号</th>
            <th><%= @user.profile.try(:phone) %></th>
          </tr>
        <% end %>
        <tr>
          <th>メールアドレス</th>
          <th><%= @user.email %></th>
        </tr>
        <% @user.addresses.each do |address| %>
          <tr>
            <th>都道府県</th>
            <th><%= address.try(:city) %></th>
          </tr>
          <tr>
            <th>住所</th>
            <th><%= address.try(:address) %></th>
          </tr>
        <% end %>
        <tr>
          <th>保有マイル</th>
          <th>
            <%= @user.wellness_mileage %>
          </th>
        </tr>
        <tr>
          <th>マイル付与</th>
          <th>
            <%= form_tag(admins_user_path(@user.id), action: "update", method: "patch") do %>

              このユーザーのマイルを<%= number_field_tag :points, 0 %>マイル増やす

              <%= submit_tag "変更", data: {confirm: "本当に変更しますか?"}, class:"btn btn-primary" %>
            <% end %>
          </th>
        </tr>

      </thead>
    </table>
  </div>
</section>

<%= form_tag admins_user_path(id: @user.id), method: "get" do %>
  <section class="content">
    <div class="content col-md-9">
      <table class="table c-table">
        <thead>
          <tr>
            <th>FiNC APP情報</th>
            <th></th>
            <th><%= submit_tag "表示", class: 'btn btn-primary' %></th>
          </tr>
          <tr>
            <th>管理者</th>
            <th><%= @me['admin']['name'] if (@me.present? && @me['admin'].present?) %></th>
            <th><%= check_box_tag 'admin_name', true, false, {:checked => true} %></th>
          </tr>
        </thead>
      </table>
    </div>
  </section>
<% end %>

