<%= javascript_include_tag 'users/products/index' %>

<% if @taxon.child? %>
  <div class="c-top_notice" id='item_with_max_width'>
    <%= @taxon.name %>
  </div>
<% end %>
<% if @products.blank? %>
  <div class="p-wrapper--have_padding">
    <h2 class="c-links__title">カテゴリ一覧</h2>
    <ul class="c-links">
      <% @taxon.children.each do |child_taxon| %>
        <a href="<%= taxons_path(id: child_taxon.id) %>">
          <li class="c-link">
            <%= child_taxon.name %>
          </li>
        </a>
      <% end %>
    </ul>
  </div>
<% else %>
  <% @products.each do |product| %>
    <%= render partial: 'users/products/product', locals: {product: product} %>
  <% end %>
<% end %>