<% if @nested_taxons.present? %>
  <div class="p-wrapper--have_padding">
    <h2 class="c-links__title">カテゴリ一覧</h2>
    <ul class="c-links">
      <% @nested_taxons.each do |nested_taxon| %>
        <a href="<%= taxon_path(id: nested_taxon.id) %>">
          <li class="c-link">
            <%= nested_taxon.name %>
          </li>
        </a>
      <% end %>
    </ul>
  </div>
<% else %>
  <a href="<%= taxon_path(id: @taxon.id) %>">
    <div class="c-category_select">
      <%= @taxon.name %>
    </div>
  </a>
  <% @products.each do |product| %>
    <%= render partial: 'users/products/product', locals: {product: product} %>
  <% end %>
<% end %>
