<% variant = single_line_item.variant %>
<%= order_form.fields_for 'single_line_items_attributes[]', single_line_item do |item_form| %>
  <div class="c-product_list">
    <div class="c-product_list__image">
      <%= image_tag variant.images.first.image.url %>
    </div>
    <div class="c-product__list_detail_wrapper">
      <div class="c-product_list__title">
        <%= link_to variant.product.name, product_path(variant.product) %>
      </div>
      <div class="c-product_list__price">
        <%= "￥#{variant.prices.first.amount}" %>
      </div>
    </div>
  </div>
  <div class="c-product_list__detail">
    <% # TODO layout %>
    <%= item_form.select :quantity,  (1..100).map{|i| [i,i]} %>
    <%= item_form.hidden_field :variant_id %>
    <%= item_form.hidden_field :id %>
    <%= item_form.submit "数量変更", class: "submit u-margin__left_short" %>
    <p class="u-margin__left_short"><%= link_to "削除", remove_item_cart_path(single_line_item.id), method: :patch %></p>
  </div>
<% end %>
