<%= order_form.fields_for 'single_line_items_attributes[]', single_line_item do |item_form| %>
  <% variant = @variants.where(id: single_line_item.variant_id).first %>
  <div class="c-product_list">
    <div class="c-product_list__image">
      <%= image_tag variant.images.first.image.url %>
    </div>
    <div class="c-product__list_detail_wrapper">
      <div class="c-product_list__title">
        <%= link_to variant.name, product_path(variant.product_id) %>
      </div>
      <div class="c-product_list__price">
        <%= number_to_jpy(variant.price.amount * @tax_rate) %>
      </div>
    </div>
  </div>
  <div class="c-product_list__detail">
    <%= item_form.select :quantity,  (1..100).map{|i| [i,i]} %>
    <%= item_form.hidden_field :variant_id %>
    <%= item_form.hidden_field :id %>
    <%= item_form.submit "数量変更", class: "submit u-margin__left_short" %>
    <p class="u-margin__left_short"><%= link_to "カートから外す", remove_item_cart_path(single_line_item.id), data: { confirm: "本当にカートから商品を削除しますか？" }, method: :patch %></p>
  </div>
<% end %>
