<div class="p-wrapper--have_padding">
  <%= form_for @order, url: cart_path, html: { id: 'update-cart' } do |order_form| %>
    <h2 class="title">カート小計(<%=@order.single_order_detail.item_count%>個の商品): <span>￥<%=@order.single_order_detail.item_total%></span></h2>
    <%= hidden_field_tag :checkout, "" %>

    <%= order_form.submit "レジに進む", class: 'c-btn--submit' %>
    <div class="p-wrapper--have_padding">
      <div class="c-payment_method_section">
        購入形式: <%= t('order_type.single_order') %>
      </div>
      <%= order_form.fields_for :single_order, order_form.object.single_order do |single_order_form| %>
        <%= single_order_form.fields_for :single_order_detail, single_order_form.object.single_order_detail do |single_order_detail_form| %>
          <%= render partial: 'single_line_item', collection: single_order_detail_form.object.single_line_items, locals: { order_form: single_order_detail_form } %>
        <% end %>
      <% end %>

      <% # TODO 定期購買 %>
    </div>
  <% end %>
</div>
