<div class="c-segments">
  <p class="is--active">通常購入</p>
  <div class="border"></div>
  <p>定期購入</p>
</div>
<% @details.each do |detail| %>
  <div class="c-order_title">
    <p class="order_day">注文日:<br><%= detail.completed_on %></p>
    <p class="amount">合計:<br><%= number_to_jpy(detail.paid_total) %></p>
    <% if detail.payment.shipment.try(:shipped?) %>
      <p>注文番号:<br><%= "#{detail.payment.number}" %></p>
    <% else %>
      <p class="address">お届け先:<br><%= "#{detail.address.full_address}" %></p>
    <% end %>
  </div>
  <% detail.single_line_items.each do |item|%>

    <div class="c-product_list">
    	<div class="c-product_list__image">
        <%= image_tag item.variant.images.first.image.url %>
      </div>
      <div class="c-product__list_detail_wrapper">
    	  <div class="c-product_list__title">
          <%= item.variant.name %>
    	  </div>
    	  <div class="c-product_list__price">
          <%= number_to_jpy(item.variant.price.amount) %>
          (<%=item.quantity%>)
        </div>
      </div>
    </div>
    <div class="p-wrapper--have_padding">
      <% if @returned_item_indexed_by_item_id && @returned_item_indexed_by_item_id[item.id].present? %>
        <ul class="c-links">
          <li class="c-link--nolink">
            返品リクエストを受け付けました。
          </li>
        </ul>
      <% elsif detail.payment.shipment.try(:shipped?) %>
        <ul class="c-links">
          <a href="#">
            <li class="c-link--small_text--nolink">
              <span>発送を完了しました<br>発送日:2014/12/25</span>
            </li>
          </a>
          <% if detail.can_send_back? %>
            <a href="<%= orders_item_send_back_confirmation_path(item.id) %>">
              <li class="c-link">
                商品を返品
              </li>
            </a>
          <% end %>
        </ul>
      <% elsif item.canceled? %>
        <ul class="c-links">
          <li class="c-link--nolink">
            この注文はキャンセルされました。
          </li>
        </ul>
      <% else %>
        <ul class="c-links">
          <%= link_to cancel_orders_path(detail.payment.number, item_id: item.id), class: "c-btn--single_click", id: (detail.payment.number+item.variant_id.to_s), data:{ method: "delete" }, :onclick=> "prevent_double_submit_from_link_to(id, event)" do%>
            <li class="c-link">
              商品をキャンセル
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="c-pager"><%= paginate(@details) %></div>
