<div class="c-segments">
  <p class="is--active">通常購入</p>
  <div class="border"></div>
  <p>定期購入</p>
</div>
<% @details.each do |detail| %>
  <div class="c-order_title">
    <p>注文日:<br><%= detail.completed_on %></p>
    <p>合計:<br>¥<%= detail.total %></p>
    <p>お届け先:<br><%= "#{detail.address.name} #{detail.address.full_address}" %></p>
  </div>
  <% detail.single_line_items.each do |item|%>
    <% variant = @variants_indexed_by_id[item.variant_id] %>
    <div class="c-product_list">
    	<div class="c-product_list__image">
        <%= image_tag variant.images.first.image.url %>
      </div>
      <div class="c-product__list_detail_wrapper">
    	  <div class="c-product_list__title">
          <%= variant.name %>
    	  </div>
    	  <div class="c-product_list__price">
          <%= variant.prices.first.amount %>円
        </div>
      </div>
    </div>
    <div class="p-wrapper--have_padding">
      <ul class="c-links">
        <a href="<%= products_path %>">
          <li class="c-link">
            商品を返品
          </li>
        </a>
        <a href="<%= products_path %>">
          <li class="c-link--small_text--nolink">
            <span>発送を完了しました<br>発送日:2014/12/25</span>
          </li>
        </a>
      </ul>
    </div>
  <% end %>
<% end %>
