<div class="c-segments">
<% if current_user.can_see_one_click_history? %>
  <a href="">
    <p class="is--active">通常商品</p>
  </a>
  <div class="border"></div>
  <a href="<%= one_click_history_orders_path %>">
    <p>限定公開商品</p>
  </a>
<% else %>
  <p class = "is--active_center">注文履歴</p>
<% end %>
</div>
<% @details.each do |detail| %>
  <div class="c-order_title">
    <p class="order_day">注文日:<br><%= detail.completed_on %></p>
    <p class="amount">合計:<br><%= number_to_jpy(detail.paid_total) %></p>
    <p>注文番号:<br><%= "#{detail.payment.number}" %></p>
  </div>
  <% detail.single_line_items.each do |item|%>
    <div class="c-product_list">
      <div class="c-product_list__image">
        <%= image_tag item.variant.top_image %>
      </div>
      <div class="c-product__list_detail_wrapper">
        <div class="c-product_list__title">
          <%= item.variant.name %>
        </div>
        <div class="c-product_list__price">
          <%= number_to_jpy(item.variant.price.amount) %>
          (<%=item.quantity%>)
        </div>
      </div>
    </div>
    <div class="p-wrapper--have_padding">
      <% if @returned_item_indexed_by_item_id && @returned_item_indexed_by_item_id[item.id].present? %>
        <ul class="c-links">
          <li class="c-link--nolink">
            返品リクエストを受け付けました。
          </li>
        </ul>
      <% elsif item.shipment.try(:shipped?) %>
        <ul class="c-links">
          <a href="#">
            <li class="c-link--small_text--nolink">
              <span>発送を完了しました<br>発送日:<%=item.shipment.shipped_at.to_date%></span>
            </li>
          </a>
          <% if item.can_send_back? %>
            <a href="<%= orders_item_send_back_confirmation_path(item.id) %>">
              <li class="c-link">
                商品を返品
              </li>
            </a>
          <% end %>
        </ul>
      <% elsif item.canceled? %>
        <ul class="c-links">
          <li class="c-link--nolink">
            この注文はキャンセルされました。
          </li>
        </ul>
      <% elsif item.can_canceled? %>
        <ul class="c-links">
          <%= link_to cancel_orders_path(detail.payment.number, item_id: item.id), class: "c-btn--single_click", id: (detail.payment.number+item.variant_id.to_s), data:{ method: "patch" }, :onclick=> "prevent_double_submit_from_link_to(id, event)" do%>
            <li class="c-link">
              商品をキャンセル
            </li>
          <% end %>
        </ul>
      <% else %>
        <ul class="c-links">
          <li class="c-link--nolink">
            ご注文を承りました。
          </li>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="c-pager"><%= paginate(@details) %></div>
