<div class="c-order__wrapper">
  <h2 class="c-links__title">ご注文ありがとうございました</h2>
  <div class="c-order__title">
    <p class="c-order__lists">注文番号:<br><%= @number %></p>
    <p class="c-order__lists">合計:<br><%= number_to_jpy(@payment.amount) %></p>
    <p class="c-order__lists">使用マイル:<br><%= @payment.used_point %>mile</p>
  </div>
  <% if @item.instance_of?(OneClickItem) %>
    <%= render partial: 'users/orders/thanks', locals: {item: @item} %>
  <% else %>
    <% @items.each do |item| %>
      <%= render partial: 'users/orders/thanks', locals: {item: item} %>
    <% end %>
  <% end %>
</div>