<div class="p-wrapper--have_padding">
  <h2 class="title">ご購入ありがとうございました。</h2>
  <h2 class="title">注文番号: <%= @number %></h2>
</div>

<h2 class="c-links__title">購入商品</h2>
<% @variants.each do |variant| %>
  <div class="c-product_list">
    <div class="c-product_list__image">
      <%= image_tag variant.images.first.image.url %>
    </div>
    <div class="c-product__list_detail_wrapper">
      <div class="c-product_list__title">
        <%= variant.name %>
      </div>
      <div class="c-product_list__price">
        <%= number_to_jpy(variant.prices.first.amount) %>(<%= @items_indexed_by_variant_id[variant.id].quantity %>個)
      </div>
    </div>
  </div>
  <div class="c-product_list__detail">
    <p class="u-margin__left_short"><%= link_to "注文をキャンセルする", cancel_orders_path(@number), method: :delete %></p>
  </div>
<% end %>