<!DOCTYPE html>
<html>
<head>
  <title>FiNCstore</title>
  <%= stylesheet_link_tag    'admins/app', media: 'all' %>
  <%= javascript_include_tag 'admins/app' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
  <%= favicon_link_tag(source='/favicon.ico', options={}) %>
</head>
<body class="skin-blue">
  <% unless current_admin.operators? %>
    <%= render :partial => "layouts/admins/header"%>
    <div class="wrapper row-offcanvas row-offcanvas-left">
      <%= render :partial => "layouts/admins/left" %>
      <aside class="right-side">
        <%= yield %>
      </aside>
    </div>
  <% else %>
    <div class="wrapper" style="padding:25px 25px">
      <%= yield %>
    </div>
  <% end %>
</body>
</html>
