<%= form_tag(checkout_state_path(state: :confirm), :method => :patch) do %>

  <div class="p-wrapper--have_padding">
    <h2 class="title">注文確定</h2>
  	<div class="c-btn--submit u-margin__bottom_middle">
  	  注文の確定
    </div>
    <h2 class="c-links__title">注文内容</h2>
    <ul class="p-payment_method_selections">
      <li class="p-payment_method_selection">
        <span>
        商品: ¥<%= @detail.item_total + @detail.additional_tax_total %>円<br>
        配送料手数料: ¥<%= @detail.shipment_total %>円
        </span>
      </li>
      <li class="p-payment_method_selection">
        <span>
          使用ポイント:<%= @payment.used_point %>pt<br>
          注文合計: ¥<%= @payment.amount %>円
        </span>
      </li>
    </ul>

    <h2 class="c-links__title">お届け先住所</h2>
    <ul class="p-payment_method_selections">
      <li class="p-payment_method_selection">
        <span>
          <%= @payment.address.last_name %><br>
          <%= @payment.address.address %>
        </span>
      </li>
    </ul>

    <h2 class="c-links__title">支払い方法</h2>
    <ul class="p-payment_method_selections">
      <li class="p-payment_method_selection">
        <span>
          <%= @gmo_card[:CardNo] %>
        </span>
      </li>
    </ul>

    <h2 class="c-links__title">購入詳細</h2>
    <div class="c-payment_method_section">
      購入形式: <%= t('order_type.single_order') %>
    </div>
    <% @items.each do |item| %>
      <div class="c-product_list">
        <div class="c-product_list__image">
          <%= image_tag item.images.first.image.url %>
        </div>
        <div class="c-product__list_detail_wrapper">
          <div class="c-product_list__title">
            <%= @products.where(id: item.product_id).name %>
          </div>
          <div class="c-product_list__price">
            ￥<%= item.prices.first.amount %>(<%= @single_line_items.where(variant_id: item.id).first.quantity %>個)
          </div>
        </div>
      </div>
    <% end %>
    <div class="c-btn--submit">注文の確定</div>
  </div>

<% end %>
