<%= form_tag(checkout_state_path(state: :payment), :method => :patch) do %>
  <div class="p-wrapper--have_padding">
    <h2 class="title">
      カート小計(<%=@detail.item_count%>個の商品):
      <span>￥<%=@detail.item_total%></span>
    </h2>
    <div class="c-btn--submit u-margin__bottom_middle">
      <%= submit_tag "購入確認画面へ", class: 'c-btn--submit' %>
    </div>
    <h2 class="c-links__title">お届先住所</h2>
    <ul class="c-links">
      <% @addresses.each do |address| %>
        <li class="c-link--small_text--nolink">
          <div class="c-link__radio_div">
            <%= radio_button_tag "order[address_id]", address.id, address.is_main ? 'checked: "checked"' : nil %>
          </div>
          <%= label_tag "order_attributes_address_id_#{address.id}",
           "#{address.name}<br>
           #{address.full_address}".html_safe %>
        </li>
      <% end %>
      <% if @addresses.size < Address::UpperLimit %>
        <%= link_to(new_account_address_path(continue: checkout_state_path(state: :payment))) do %>
          <li class="c-link">新規住所登録</li>
        <% end %>
      <% else %>
        <li class="c-link"><%= t('validate_registration.address') %></li>
      <% end %>
    </ul>
    <h2 class="c-links__title">支払い方法</h2>
    <ul class="c-links u-margin__bottom_middle">
      <li class="c-link--nolink">
        <div class="c-link__radio_div">
          <%= radio_button_tag "order[payment_attributes[payment_method_id]]", 1, nil, :onclick=> "payment_method_change(this.value)", checked: "checked" %>
        </div>
        <p>
        <%= label_tag "payment_method_id_1", "クレジット" %>
      </li>
<% if false %>
      <li class="c-link--nolink">
        <div class="c-link__radio_div">
          <%= radio_button_tag "order[payment_attributes[payment_method_id]]", 2, nil, :onclick=> "payment_method_change(this.value)" %>
        </div>
        <%= label_tag "payment_method_id_2", "後払い決済" %>
      </li>
<% end %>
    </ul>
    <ul class="c-links js-credit">
      <% @gmo_cards.each_with_index do |gmo_card, i| %>
        <li class="c-link--small_text--nolink">
          <div class="c-link__radio_div">
            <%= radio_button_tag "order[payment_attributes[gmo_card_seq_temporary]]", gmo_card[:CardSeq], i == 0 ? 'checked: "checked"' : nil %>
          </div>
          <%= label_tag "order_payment_attributes_gmo_card_seq_temporary_#{gmo_card[:CardSeq]}", "番号：#{gmo_card[:CardNo]}<br />有効期限：#{gmo_card[:Expire]}".html_safe %>
        </li>
      <% end %>
      <% if @gmo_cards.size < GmoMultiPayment::Card::UpperLimit %>
        <%= link_to(new_profile_credit_card_path) do %>
          <li class="c-link">新規クレジット登録</li>
        <% end %>
      <% else %>
        <li class="c-link"><%= t('validate_registration.address') %></li>
      <% end %>
    </ul>
    <ul class="c-links js-cresit">
      <% @gmo_cards.each do |gmo_card| %>
        <li class="c-link--small_text--nolink">
          <div class="c-link__radio_div">
            <%= radio_button_tag "order[payment_attributes[gmo_card_seq_temporary]]", gmo_card[:CardSeq] %>
          </div>
          <span>
            番号：<%= gmo_card[:CardNo] %> <br />
            有効期限： <%= gmo_card[:Expire] %>
          </span>
        </li>
      <% end %>
    </ul>
    <h2 class="c-links__title">ポイント使用</h2>
    <ul class="p-payment_method_selections">
      <li class="p-payment_method_selection">
        <div class="p-payment_method_selection__radio">
          <%= radio_button_tag "order[use_all_point]", true %>
        </div>
        <%= label_tag "order_use_all_point_true", "全て使用", class: "p-payment_method_selection__title" %>
        <p class="p-payment_method_selection__price"><%= @wellness_mileage %>Pt</p>
      </li>
      <li class="p-payment_method_selection">
        <div class="p-payment_method_selection__radio">
          <%= radio_button_tag "order[use_all_point]", false %>
        </div>
        <%= label_tag "order_use_all_point_false", "一部を使用", class: "p-payment_method_selection__title" %>
        <div class="p-payment_method__detail is-active">
          <p>ポイント: </p>
          <%= number_field_tag "order[used_point]", 0, min: 0, max: @wellness_mileage, class: 'p-payment_method__amount' %>
          <p class="u-margin_short">Pt</p>
        </div>
      </li>
    </ul>
    <h2 class="c-links__title">購入詳細</h2>
    <% if false #TODO %>
      <div class="c-payment_method_section">
        購入形式: <%= t('order_type.single_order') %>
      </div>
    <% end %>
    <% @items.each do |item| %>
      <div class="c-product_list">
        <div class="c-product_list__image">
          <%= image_tag item.images.first.image.url %>
        </div>
        <div class="c-product__list_detail_wrapper">
          <div class="c-product_list__title">
            <%= item.name %>
          </div>
          <div class="c-product_list__price">
            ￥<%= item.prices.first.amount %>(<%= @single_line_items.where(variant_id: item.id).pluck(:quantity).first %>個)
          </div>
        </div>
      </div>
    <% end %>
    <div class="c-btn--submit">
      <%= submit_tag "購入確認画面へ", class: 'c-btn--submit' %>
    </div>
  </div>
<%# TODO subscription %>

<% end %>
