<%= form_tag(checkout_state_path(state: :payment), :method => :patch) do %>
  <% single_order_detail = @order.single_order_detail %>

  <div class="p-wrapper--have_padding">
    <h2 class="title">カート小計(<%=single_order_detail.item_count%>個の商品): <span>￥<%=single_order_detail.item_total%></span></h2>
    <div class="c-btn--submit u-margin__bottom_middle">
      <%= submit_tag "購入確認画面へ", class: 'c-btn--submit' %>
    </div>
    <h2 class="c-links__title">お届先住所</h2>
    <ul class="c-links">
      <!-- <a href="<%= account_addresses_path %>"> -->
        <li class="c-link--small_text">
          <span>
            <% if @address.present? %>
              <% @address.each do |address| %>
                <%= radio_button_tag "order[payment_attributes[address_id]]", address.id %>
                <%= address.address %><br />
              <% end %>
              <%= link_to "新規住所登録", new_account_address_path %>              
            <% else %>
              <%= link_to "新規住所登録", new_account_address_path %>
            <% end %>
          </span>
        </li>
      <!-- </a> -->
    </ul>
<%#TODO credit %>
    <h2 class="c-links__title">支払い方法</h2>
    <ul class="c-links">
      <!-- <a href="<%= products_path %>"> -->
        <li class="c-link--small_text">
          <span>
クレジットカード<br>
          <% if @gmo_cards %> 
            <% @gmo_cards.each do |gmo_card| %>
              <%= radio_button_tag "order[payment_attributes[source_id]]", gmo_card[:CardSeq] %>
              <%= gmo_card[:CardName] %> 番号：<%= gmo_card[:CardNo] %> <br />
            <% end %>
          <% end %>
          <%= radio_button_tag "order[payment_attributes[source_id]]", false %>後払い
          </span>
        </li>
      <!-- </a> -->
    </ul>
    <h2 class="c-links__title">ポイント使用</h2>
    <ul class="p-payment_method_selections">
      <li class="p-payment_method_selection">
        <div class="p-payment_method_selection__radio">
          <%= radio_button_tag "order[use_all_point]", true %>
        </div>
        <p class="p-payment_method_selection__title">
          全て使用
        </p>
        <p class="p-payment_method_selection__price">
<%#TODO max_used_point %>
          <% max_point = 10 %>
          <%= max_point %>Pt
        </p>
      </li>
      <li class="p-payment_method_selection">
        <div class="p-payment_method_selection__radio">
          <%= radio_button_tag "order[use_all_point]", false %>
        </div>
        <p class="p-payment_method_selection__title">
          一部を使用
        </p>
        <div class="p-payment_method__detail is-active">
          <p>ポイント: </p>
          <%= number_field_tag "order[used_point]", 1, min: 0, max: max_point, class: 'p-payment_method__amount' %>
          <p class="u-margin_short">Pt</p>
        </div>
      </li>
    </ul>
    <h2 class="c-links__title">購入詳細</h2>
      <div class="c-payment_method_section">
        購入形式: <%= t('order_type.single_order') %>
      </div>

<%# TODO 消費税 %>
      <% @items.each do |single_line_item| %>
        <div class="c-product_list">
          <div class="c-product_list__image">
            <%= image_tag single_line_item.variant.images.first.image.url %>
          </div>
          <div class="c-product__list_detail_wrapper">
            <div class="c-product_list__title">
              <%= single_line_item.variant.product.name %>
            </div>
            <div class="c-product_list__price">
              ￥<%= single_line_item.price %>(<%= single_line_item.quantity %>個)
            </div>
          </div>
        </div>
      <% end %>
    <div class="c-btn--submit">
      <%= submit_tag "購入確認画面へ", class: 'c-btn--submit' %>
    </div>
  </div>
<%# TODO subscription %>

<% end %>