<div class='p-tutorial_wrapper'>
  <div class="p-tutorial_title">
    <%= image_tag 'users/tutorial_logo.png', class: 'p-tutorial_title_image' %>
    <div class='p-tutorial_title_top'>FiNCストアとは？</div>
    <div class='p-tutorial_title_detail'>
      「ウェルネスマイレージ」を使って、お得にFiNC関連商品を購入できるショッピングサイトです。
    </div>
  </div>
  <div class='p-tutorial_btn_wrapper'>
    <div class='c-btn--submit'>
      FiNCストアへ
    </div>
  </div>

  <div class='p-tutorial_point_wrapper'>
    <h2 class='p-tutorial_point_title'>特徴</h2>
    <div class='p-tutorial_point_lists'>
      <%= image_tag 'users/tutorial_task.png', class: 'p-tutorial_point_list' %>
      <div class='p-tutorial_point_list_detail'>タスクを実施するほどお得にお買い物</div>
      <%= image_tag 'users/tutorial_product.png', class: 'p-tutorial_point_list' %>
      <div class='p-tutorial_point_list_detail'>FiNCストア限定商品多数！</div>
      <%= image_tag 'users/tutorial_nutritionist.png', class: 'p-tutorial_point_list' %>
      <div class='p-tutorial_point_list_detail'>栄養士による商品紹介</div>
    </div>
  </div>

  <div class='p-tutorial_mile_wrapper'>
    <h2 class='p-tutorial_mile_title'>ウェルネスマイレージとは？</h2>
    <div class='p-tutorial_mile_lists'>
      <%= image_tag 'users/tutorial_wellness_mileage.png', class: 'p-tutorial_mile_top' %>
      <div class='p-tutorial_mile_list_detail'>
        FiNCアプリ上でタスク実施ごとに貯まるマイルのことです。
      </div>
      <%= image_tag 'users/tutorial_mile_to_yen.png', class: 'p-tutorial_mile_top' %>
      <div class='p-tutorial_mile_list_detail'>
        FiNCストアで商品購入する際に、１マイル＝１円換算でご利用いただけます。
        その他にもキャンペーン等でマイルが付与されることもあります。
      </div>
      <%= image_tag 'users/tutorial_valid_mile.png', class: 'p-tutorial_mile_top' %>
      <div class='p-tutorial_mile_list_detail'>
        マイルの有効期限は､獲得月又は付与月から5ヶ月後月末とします｡<br>
        有効期限を超えたマイルは自動的に消去されますので､ご注意ください｡<br>
        ※期間限定マイルは、上記期間とは異なります。
      </div>
    </div>
  </div>

  <div class='p-tutorial_btn_wrapper'>
    <div class='c-btn--submit'>
      FiNCストアへ
    </div>
  </div>

</div>