<%= form_for([:admins, product]) do |p| %>

  <div class="field">
    <%= p.label :name %><br>
    <%= p.text_field :name, class: "text" %>
  </div>
  <div class="field">
    <%= p.label :description %><br>
    <%= p.text_field :description, class: "text" %>
  </div>
  <div class="field">
    <%= p.label :product_is_valid_at %><br>
    <%if params[:action]=="new" %>
      <%= p.date_field :is_valid_at, value: Date.today%><br/>
    <% else %>
      <%= p.date_field :is_valid_at %><br/>
    <% end %>
  </div>
  <div class="field">
    <%= p.label :product_is_invalid_at %><br>
    <%if params[:action]=="new" %>
      <%= p.date_field :is_invalid_at, value: Date.today+6*30 %><br/>
    <% else %>
      <%= p.date_field :is_invalid_at %><br/>
    <% end %>
  </div>
  <div class="actions">
    <%= p.submit "登録", class: "submit" %>
  </div>

<% end %>