<%= form_for([:admins, product]) do |p| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= @product.errors.count %>件のエラーが発生しました。</h2>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <section class="content">
    <div class="box-body col-md-6">
      <div class="form-group">
        <%= p.label :name %><br>
        <%= p.text_field :name, class: "form-control", placeholder: "Enter name" %>
      </div>

      <%= p.fields_for :product_descriptions, @product.product_description || ProductDescription.new do |d| %>
        <div class="form-group">
          <%= d.label :description %><br>
          <%= d.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= d.label :nutritionist_explanation %><br>
          <%= d.text_area :nutritionist_explanation, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= d.label :nutritionist_word %><br>
          <%= d.text_area :nutritionist_word, class: "form-control" %>
        </div>
      <% end %>

      <%= p.fields_for :how_to_use_products, @product.how_to_use_products || HowToUseProduct.new do |h| %>
        <div class="form-group">
          <%= h.label :description %><%= (h.options[:child_index]+1).to_s %><br>
          <%= h.text_area :description, class: "form-control" %>
          <%= h.hidden_field :id  %>
        </div>
      <% end %>

      <%= p.fields_for :products_taxons, @product.products_taxons || ProductTaxon.new do |t| %>
        <div class="form-group">
          <p><%= t.label "category" + (t.options[:child_index]+1).to_s %></p>
          <p><%= t.collection_select :taxon_id, @leaf_taxons, :id, :name, :include_blank => true %></p>
        </div>
        <% if product.products_taxons.size == t.options[:child_index]+1 %>
          <% if product.persisted? %>
            <div class="form-group">
              <p><%= t.label :new_category %></p>
              <p><%= select_tag :new_taxon_id, options_from_collection_for_select(@leaf_taxons, :id, :name), :include_blank => true %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div class="actions">
        <%= p.submit "登録", class: "btn" %>
      </div>
    </div>
  </section>
<% end %>
