<div class="content-header">
  <h3>
    商品管理
    <div class="u-float_right">
      <a href="<%= new_admins_product_path %>" class="btn btn-primary">商品追加</a>
    </div>
  </h3>
</div>
<section class="content">
  <h4 class="box-title">商品一覧</h4>
  <div class="content">
    <% if @products.present? %>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>説明</th>
            <th>状態</th>
            <th>カテゴリ</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.id %></td>
              <td><a href="<%= admins_product_path(id: product.id) %>"><%= product.name %></a></td>
              <td><%= product.description %></td>
              <td><%= t(product.classify_validity) %></td>
              <td>
                <% product.taxons.each.with_index(1) do |products_taxon, i| %>
                  <% if i <= 3 %>
                    <%= products_taxon.name %>/
                  <% else %>
                    ...(<%=product.products_taxons.count%>)
                    <% break %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <a href="<%= edit_admins_product_path(id: product.id) %>" class="btn btn-warning btn-sm">
                  <i class="fa fa-edit"></i>編集
                </a>
              </td>
              <td>
                <a href="<%= admins_product_path(id: product.id) %>" class="btn btn-success btn-sm" data-method="delete">
                  <i class="fa fa-trash-o"></i>削除
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>現在商品は登録されていません</p>
    <% end %>
  </div>
</section>
