<div class = "content-header">
  <h3>
    <%= link_to "商品一覧", admins_products_path %> / <%= link_to @product.name, admins_product_path(@product) %>
                <a href="<%= edit_admins_product_path(id: @product.id) %>" class="btn btn-warning btn-sm">
                  <i class="fa fa-edit"></i>編集
                </a>
                 <a href="<%= admins_product_path(id: @product.id) %>" class="btn btn-success btn-sm" data-method="delete">
                  <i class="fa fa-trash-o"></i>削除
                </a>
 
    <div class="u-float_right">
      <a href="<%= new_admins_product_path %>" class="btn btn-primary">商品追加</a>
    </div>
  </h3>
</div>

<section class="content col-md-9">
<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <td><%= @product.id %></td>
    </tr>
    <tr>
      <th>名前</th>
      <td><%= @product.name %></td>
    </tr>
    <% @taxons.each.with_index(1) do |taxon, i| %>
      <tr>
        <th><%= "カテゴリ"+i.to_s %></th>
        <td><%= taxon.name %></td>
      </tr>
    <% end %>
    <tr>
      <th>説明</th>
      <td><%= @product.description %></td>
    </tr>
    <tr>
      <th>isValidAt</th><td><%= @product.is_valid_at.strftime("%Y/%m/%d %H:%M") %></td>
    </tr>
    <tr>
      <th>isInValidAt</th><td><%= @product.is_invalid_at.strftime("%Y/%m/%d %H:%M") %></td>
    </tr>
  </tbody>
</table>
</section>
