<section class="content-header">
<h1>
  洗替管理
</h1>
</section>
<section class="content col-md-9">
<h3>売上計上済み一覧</h3>

<%= render partial: 'regular_purchase_table', locals: {} %>

</section>
<section class="content col-md-2 float-right">
<ul class="nav nav-pills nav-stacked">
  <li><a href="<%=regular_purchase_admins_bills_path("laundering_planned") %>">洗替予定一覧</a></li>
  <li><a href="<%= regular_purchase_admins_bills_path("laundering_success")%>">洗替成功一覧</a></li>
  <li><a href="<%= regular_purchase_admins_bills_path("laundering_failure")%>">洗替失敗一覧</a></li>
  <li class="active"><a href="<%= regular_purchase_admins_bills_path("complete")%>">売上計上済み一覧</a></li>
</ul>
</section>

